<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="../static/sign_in.css">
    <body>
        <div class="main-container">
            <h1>Sign In</h1>
            <form id="sign-in">
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
                <label for="pswd">Password</label>
                <input type="password" id="pswd" name="password">
                <input type="submit" value="Sign In">
            </form>
            <a href="sign_up.html">Create an account</a>

        </div>

    </body>
</html>
