<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="../static/css/sign_up.css">
    <body>
        <div class="main-container">
            <h1>Sign Up</h1>
            <form id="sign-up">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
                <label for="pswd">Password</label>
                <input type="password" id="pswd" name="password">
                <label for="cnfm-pswd">Confirm Password</label>
                <input type="password" id="cnfm-pswd" name="confirm password">
                <input type="submit" value="Sign Up">
            </form>
            <p id="message"></p>
            <a href="sign_in">Already have one? Sign In</a>

        </div>
    
    <script src="../static/js/sign_up.js"></script>

    </body>
</html>
